# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Streamlit cache and logs
.streamlit/

# VSCode settings (optional)
.vscode/

# Mac OS metadata
.DS_Store

# Environment variables
.env
